@font-face {
  font-family: "Poppins";
  src: url("../fonts/PoppinsLatin-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

body{
  overflow: hidden;
}

.infobutton{
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 40px;
  left: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  border: 2px solid #000;
  border-color: black;
  background: white;

}

.transplanted-text{

}

#prompts{
  font-size: 40px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #f6f6f6;
}

#container{
  position: relative;
  width: window.innerWidth;
  height: window.innerHeight;
}

#questions{
  position: absolute;
  width: 200px;
  left: 80px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  z-index: 10;
}

#heartDIV{
  width: 100%;
  height: 100%;
  top: 60px;
  text-align: center;
  position:absolute;
}

.h-ear-tButton {
  width: 50%;
  border: none;
  cursor: pointer;
}

#toggleAudio {
  left: 230px;
}

#backward {
  left: 30px;
}

#backward {

}
