@font-face {
  font-family: "Poppins";
  src: url("../fonts/PoppinsLatin-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-light-300";
  src: url("../fonts/poppins-v19-latin-300.woff2");
  font-weight: normal;
  font-style: normal;
}

body{
  overflow: hidden;
}

.infobutton{
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 40px;
  left: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  border: 2px solid #000;
  border-color: black;
  background: white;
}

#prompts{
  font-size: 40px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #f6f6f6;
}

#container{
  position: relative;
  width: window.innerWidth;
  height: window.innerHeight;
}

#questions{
  position: absolute;
  width: 200px;
  left: 80px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  z-index: 10;
}



#heartDIV{
  width: 100%;
  height: 100%;
  top: 10px;
  text-align: center;
  position:absolute;
}

#instructions-fi{
  font-size: 16px;
  left: 100px;
  top: 45px;
}

#instructions-en{
  font-size: 16px;
  left: 100px;
  top: 45px;
}

.instructions{
  position: absolute;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 350px;
  max-height: 300px;
  z-index: 1000;
  background-color: #FFF;
  border-radius: 10px;
  border: 2px solid #000;
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;

}

.h-ear-tButton {
  width: 60%;
  border: none;
  cursor: pointer;
}

#subtitles-button-info{
  position: absolute;
  width: 200px;
  right: 40px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 18px;
  z-index: 10;
}

#finnish-button-info{
  position: absolute;
  width: 200px;
  right: 40px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 18px;
  z-index: 10;
}

#infinity-button-info-en{
  position: absolute;
  width: 200px;
  right: 40px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 18px;
  z-index: 10;
}

#infinity-button-info-fi{
  position: absolute;
  width: 200px;
  right: 40px;
  top: 60px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 18px;
  z-index: 10;
}


#select-infinity{
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 0;
  z-index: 1000;
  top: 40px;
  right: 140px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  border: 2px solid #000;
  border-color: black;
  background: white;
}

#select-finnish{
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 40px;
  right: 90px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  border: 2px solid #000;
  border-color: black;
  background: white;
}

#select-english{
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  border: 2px solid #000;
  border-color: black;
  background: white;
}

#answers{
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 400px;
  max-height: 400px;
  right: 80px;
  top: 100px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: left;
  font-size: 30px;
  z-index: 10;
  background-color: hsla(50, 0%, 85.9%, 0.3);
  line-height: 0.9;

}
